**SQL Queries Using Northwind Database**

In [ ]:
--#1: Displaying the name, price and category of each product, along with the phone number of its supplier --

SELECT ProductName, UnitPrice, CategoryName, Phone
FROM Products AS p
LEFT JOIN Suppliers AS s
ON p.SupplierID = s.SupplierID
LEFT JOIN Categories AS c
ON p.CategoryID = c.CategoryID


-- #2: Displaying the number of orders that were made by customers living in France --

SELECT COUNT(*) AS NumberOfOrders
FROM Orders AS o 
JOIN Customers as c
ON o.CustomerID = c.CustomerID
WHERE Country = 'France'


-- #3: Displaying each supplier's name and the average price of product they supply (in descending order), but only for suppliers that supply at least 3 products --

SELECT AVG(UnitPrice) AS AverageUnitPrice, CompanyName
FROM Products AS p
JOIN Suppliers AS s
ON p.SupplierID = s.SupplierID
GROUP BY CompanyName
HAVING COUNT(*) >= 3
ORDER BY AverageUnitPrice DESC


-- #4: Displaying the name of products that were never sold even once --

SELECT ProductName
FROM Products
WHERE ProductID NOT IN (SELECT ProductID
                        FROM OrderDetails)



-- #5: Displaying the product list (id, name, unit price) where products cost less than $20 and are not discontinued --

SELECT ProductID, ProductName, UnitPrice
FROM Products
WHERE UnitPrice < 20 AND Discontinued = 0
ORDER BY UnitPrice DESC


-- #6: Displaying products above average price --

SELECT DISTINCT ProductName, UnitPrice
FROM Products 
WHERE UnitPrice > (SELECT
                    AVG (UnitPrice)
                    FROM Products)
ORDER BY UnitPrice


-- #7: Displaying the total number of customers per country and city --

SELECT Country, City, COUNT(CustomerID) AS TotalCustomers
FROM Customers
GROUP BY Country, City
ORDER BY TotalCustomers DESC


-- #8: Displaying the total number of products per category --

SELECT CategoryName, COUNT(ProductID) AS TotalProducts
FROM Categories AS c
JOIN Products AS p
ON c.CategoryID = p.CategoryID
GROUP BY CategoryName
ORDER BY TotalProducts DESC


-- #9: Displaying the sales amount for the order that generated the highest revenue in December 2015 --

SELECT MAX(SalesAmount) AS MaxRevenue
FROM (
    SELECT SUM(UnitPrice * Quantity) AS SalesAmount,
    o.OrderID
    FROM OrderDetails AS od
    JOIN Orders AS o
    ON od.OrderId = o.OrderID
    WHERE YEAR(OrderDate) = 2015
    AND MONTH(OrderDate) = 12
    GROUP BY o.orderID
) AS sq


-- #10: Display the full name of every employee whose direct manager is Nancy Davolio, and who made at least one sale in 2016 --

SELECT 
 DISTINCT
 e.FirstName + ' ' + e.LastName AS FullName
FROM Employees e
INNER JOIN Employees m 
	ON e.ReportsTo = m.EmployeeID
JOIN Orders o
	ON e.EmployeeID = o.EmployeeID
WHERE m.FirstName = 'Nancy'
AND m.LastName = 'Davolio'
AND YEAR(OrderDate) = 2016